In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [8]:
survey = pd.read_csv('../data/lrf_wrp_2021_full_data.csv')

C:\Users\emily\AppData\Local\Temp\ipykernel_75808\3993643284.py:1: DtypeWarning: Columns (7,8,9,10,16,17,20,21,22,28,31,32,33,34,35,36,37,38,41,43,46,47,48,49,50,51,52,53,54,56,57,58,59,60,66,67,68,69,70,71,72,73,74,75,76,77,78,81,84,101,224,226,227,228,229,230) have mixed types. Specify dtype option on import or set low_memory=False.
  survey = pd.read_csv('../data/lrf_wrp_2021_full_data.csv')

In [9]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280106 entries, 0 to 280105
Columns: 231 entries, WPID_RANDOM to Q5F_2019
dtypes: float64(1), int64(18), object(212)
memory usage: 493.7+ MB

In [10]:
survey.head()

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,REGION_ZAF,REGION2_ZMB,REGION_ZWE,Q2_1_2019A,Q2_1_2019B,Q5A_2019,Q5B_2019,Q5C_2019,Q5D_2019,Q5F_2019
0,174262180,1,United States,2.132627,2021,6,1,4,,562058.6277,...,,,,,,,,,,
1,115327451,1,United States,0.620385,2021,6,1,4,,163503.9201,...,,,,,,,,,,
2,189972125,1,United States,0.610080,2021,6,1,4,,160787.9589,...,,,,,,,,,,
3,173358289,1,United States,0.490774,2021,6,1,4,,129344.4561,...,,,,,,,,,,
4,183251831,1,United States,1.910021,2021,6,1,4,,503390.2659,...,,,,,,,,,,

In [25]:
#maybe change 'test' to Nan? read methodology report
dictionary = {'1': 'Low income', '2':'Lower-middle income', '3': 'Upper-middle income', '4': 'High income', '9': 'Not classified', ' ': 'test' }
survey['CountryIncomeLevel2021'].astype(str).map(dictionary).value_counts()

CountryIncomeLevel2021
test                   154195
High income             41673
Lower-middle income     38115
Upper-middle income     37122
Low income               8001
Not classified           1000
Name: count, dtype: int64

In [18]:
#survey.CountryIncomeLevel2021.str.strip().value_counts()

CountryIncomeLevel2021
     154195
4      1031
2      1000
3      1000
Name: count, dtype: int64

In [22]:
#do this for all columns
survey.CountryIncomeLevel2021.astype(str).value_counts()

CountryIncomeLevel2021
     154195
4     41673
2     38115
3     37122
1      8001
9      1000
Name: count, dtype: int64

In [23]:
#replace this values with Nan
survey[survey['CountryIncomeLevel2021']==' ']

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,REGION_ZAF,REGION2_ZMB,REGION_ZWE,Q2_1_2019A,Q2_1_2019B,Q5A_2019,Q5B_2019,Q5C_2019,Q5D_2019,Q5F_2019
125911,111111576,39,Palestine,0.841987,2019,11,0,,2,,...,,,,18,1,1,2,2,2,2
125912,111111666,57,Botswana,0.938971,2019,4,0,,3,,...,,,,1,98,2,2,1,1,2
125913,111111887,185,Tajikistan,0.619578,2019,7,1,,1,,...,,,,5,9,2,2,2,2,2
125914,111114902,12,United Kingdom,0.420952,2019,13,1,,4,,...,,,,1,18,2,2,2,2,2
125915,111115212,69,Taiwan,0.601208,2019,8,1,,4,,...,,,,7,3,2,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280101,211108235,33,Brazil,0.480291,2019,5,1,,3,,...,,,,5,3,1,1,1,1,1
280102,211108380,173,Serbia,0.600998,2019,14,1,,3,,...,,,,3,9,2,2,2,2,2
280103,211108951,175,Slovakia,1.199834,2019,12,1,,4,,...,,,,4,2,2,2,2,2,2
280104,211109671,31,India,1.430093,2019,10,1,,2,,...,,,,19,,2,2,1,2,1
280105,211110054,19,Poland,1.070493,2019,12,1,,4,,...,,,,5,15,2,2,2,2,2

In [15]:
survey.head()

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,REGION_ZAF,REGION2_ZMB,REGION_ZWE,Q2_1_2019A,Q2_1_2019B,Q5A_2019,Q5B_2019,Q5C_2019,Q5D_2019,Q5F_2019
0,174262180,1,United States,2.132627,2021,6,1,4,,562058.6277,...,,,,,,,,,,
1,115327451,1,United States,0.620385,2021,6,1,4,,163503.9201,...,,,,,,,,,,
2,189972125,1,United States,0.610080,2021,6,1,4,,160787.9589,...,,,,,,,,,,
3,173358289,1,United States,0.490774,2021,6,1,4,,129344.4561,...,,,,,,,,,,
4,183251831,1,United States,1.910021,2021,6,1,4,,503390.2659,...,,,,,,,,,,

### too many columns, need to drop unnecessary ones

In [11]:
disasters = pd.read_csv('../data/disasters.csv')

In [12]:
disasters.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1900-0003-USA,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,30000.0,1098720.0,2.730451,NaN,2004-10-18,2023-10-17
1,1900-0005-USA,Yes,tec-ind-fir-fir,Technological,Industrial accident,Fire (Industrial),Fire (Industrial),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
2,1900-0006-JAM,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
3,1900-0007-JAM,Yes,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,Gastroenteritis,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
4,1900-0008-JPN,Yes,nat-geo-vol-ash,Natural,Geophysical,Volcanic activity,Ash fall,NaN,NaN,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25

In [13]:
disasters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26559 entries, 0 to 26558
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     26559 non-null  object
 1   Historic                                   26559 non-null  object
 2   Classification Key                         26559 non-null  object
 3   Disaster Group                             26559 non-null  object
 4   Disaster Subgroup                          26559 non-null  object
 5   Disaster Type                              26559 non-null  object
 6   Disaster Subtype                           26559 non-null  object
 7   External IDs                               2405 non-null   object
 8   Event Name                                 8326 non-null   object
 9   ISO                                        26559 non-null  object
 10  Country                                    26559 non-null  object
 11  Subregion                                  26559 non-null  object
 12  Region                                     26559 non-null  object
 13  Location                                   24118 non-null  object
 14  Origin                                     4442 non-null   object
 15  Associated Types                           3883 non-null   object
 16  OFDA/BHA Response                          26559 non-null  object
 17  Appeal                                     26559 non-null  object
 18  Declaration                                26559 non-null  object
 19  AID Contribution ('000 US$)                788 non-null    float64
 20  Magnitude                                  5201 non-null   float64
 21  Magnitude Scale                            16637 non-null  object
 22  Latitude                                   2794 non-null   float64
 23  Longitude                                  2794 non-null   float64
 24  River Basin                                1391 non-null   object
 25  Start Year                                 26559 non-null  int64
 26  Start Month                                26054 non-null  float64
 27  Start Day                                  22562 non-null  float64
 28  End Year                                   26559 non-null  int64
 29  End Month                                  25747 non-null  float64
 30  End Day                                    22653 non-null  float64
 31  Total Deaths                               21069 non-null  float64
 32  No. Injured                                8624 non-null   float64
 33  No. Affected                               10897 non-null  float64
 34  No. Homeless                               2668 non-null   float64
 35  Total Affected                             17666 non-null  float64
 36  Reconstruction Costs ('000 US$)            42 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  42 non-null     float64
 38  Insured Damage ('000 US$)                  1126 non-null   float64
 39  Insured Damage, Adjusted ('000 US$)        1125 non-null   float64
 40  Total Damage ('000 US$)                    5733 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          5718 non-null   float64
 42  CPI                                        26396 non-null  float64
 43  Admin Units                                8511 non-null   object
 44  Entry Date                                 26559 non-null  object
 45  Last Update                                26559 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 9.3+ MB