In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
survey = pd.read_csv('../data/clean_survey_data.csv')

C:\Users\emily\AppData\Local\Temp\ipykernel_88308\1905035074.py:1: DtypeWarning: Columns (7,8,9,10,16,17,20,21,22,26,27,28,29,32,33,34,35,36,37,38,39,40,42,43,44,45,46,52,53,54,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  survey = pd.read_csv('../data/clean_survey_data.csv')

In [3]:
survey = survey[survey['Year']==2021]

In [4]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125911 entries, 0 to 125910
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   WPID_RANDOM             125911 non-null  int64
 1   WP5                     125911 non-null  int64
 2   Country                 125911 non-null  object
 3   WGT                     125911 non-null  float64
 4   Year                    125911 non-null  int64
 5   GlobalRegion            125911 non-null  int64
 6   country.in.both.waves   125911 non-null  int64
 7   CountryIncomeLevel2021  125911 non-null  object
 8   CountryIncomeLevel2019  125911 non-null  object
 9   PROJWT_2021             125911 non-null  object
 10  PROJWT_2019             125911 non-null  object
 11  Age                     125911 non-null  int64
 12  AgeGroups4              125911 non-null  object
 13  Gender                  125911 non-null  int64
 14  Education               125911 non-null  int64
 15  IncomeFeelings          125911 non-null  int64
 16  INCOME_5                125911 non-null  object
 17  EMP_2010                125911 non-null  object
 18  Urbanicity              125911 non-null  int64
 19  HouseholdSize           125911 non-null  int64
 20  ChildrenInHousehold     125911 non-null  object
 21  Q1                      125911 non-null  object
 22  Q2_1                    125911 non-null  object
 23  Q3                      125911 non-null  int64
 24  Q4D                     125911 non-null  int64
 25  Q4F                     125911 non-null  int64
 26  Q5D                     125911 non-null  object
 27  Q5F                     125911 non-null  object
 28  Q6                      125911 non-null  object
 29  Q10                     125911 non-null  object
 30  Q11_1                   125911 non-null  object
 31  Q11_2                   125911 non-null  object
 32  Q10Q11Recode            125911 non-null  object
 33  Q13                     125911 non-null  object
 34  Q14A                    125911 non-null  object
 35  Q14B                    125911 non-null  object
 36  Q14C                    125911 non-null  object
 37  Q14D                    125911 non-null  object
 38  Q14E                    125911 non-null  object
 39  Q14F                    125911 non-null  object
 40  Q14G                    125911 non-null  object
 41  Q15                     125911 non-null  object
 42  Q16A                    125911 non-null  object
 43  Q16B                    125911 non-null  object
 44  Q16C                    125911 non-null  object
 45  Q16D                    125911 non-null  object
 46  Q17                     125911 non-null  object
 47  Q18_1                   125911 non-null  object
 48  Q19A                    125911 non-null  object
 49  Q19B                    125911 non-null  object
 50  Q19C                    125911 non-null  object
 51  Q19D                    125911 non-null  object
 52  Q20                     125911 non-null  object
 53  Q21                     125911 non-null  object
 54  Q22A                    125911 non-null  object
 55  Q22B                    125911 non-null  object
 56  Q22C                    125911 non-null  object
 57  Q22D                    125911 non-null  object
 58  Q22E                    125911 non-null  object
 59  resilience_index        125911 non-null  object
 60  Worried.Index           125911 non-null  object
 61  Experienced.Index       125911 non-null  object
 62  worry_exp_gap           125911 non-null  object
dtypes: float64(1), int64(14), object(48)
memory usage: 61.5+ MB

In [5]:
survey.head()

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,Q21,Q22A,Q22B,Q22C,Q22D,Q22E,resilience_index,Worried.Index,Experienced.Index,worry_exp_gap
0,174262180,1,United States,2.132627,2021,6,1,4,,562058.6277,...,1,2,2,2,2,2,0.604166667,0.591526773,-0.004188948,0.595715721
1,115327451,1,United States,0.620385,2021,6,1,4,,163503.9201,...,1,2,2,2,2,2,0.8125,0.302011196,-0.004188948,0.306200143
2,189972125,1,United States,0.610080,2021,6,1,4,,160787.9589,...,1,2,2,2,2,2,0.645833333,0.409201775,-0.004188948,0.413390723
3,173358289,1,United States,0.490774,2021,6,1,4,,129344.4561,...,2,2,2,2,2,2,0.604166667,0.114227334,0.313785914,-0.19955858
4,183251831,1,United States,1.910021,2021,6,1,4,,503390.2659,...,1,2,2,2,2,2,0.895833333,0.228660806,0.441144416,-0.21248361

In [6]:
survey.CountryIncomeLevel2021.astype(str).value_counts()

CountryIncomeLevel2021
4    41673
2    38115
3    37122
1     8001
9     1000
Name: count, dtype: int64

In [ ]:
#what country has "not classified" as the income level? 
survey[survey['CountryIncomeLevel2021']==9]
#answer: Venezuela

In [7]:
dictionary = {'1': 'Low income', '2':'Lower-middle income', '3': 'Upper-middle income', '4': 'High income', '9': 'Not classified'}

In [8]:
survey['CountryIncomeLevel2021'].astype(str).map(dictionary).value_counts()

CountryIncomeLevel2021
High income            41673
Lower-middle income    38115
Upper-middle income    37122
Low income              8001
Not classified          1000
Name: count, dtype: int64

In [9]:
survey['CountryIncomeLevel2021'] = survey['CountryIncomeLevel2021'].astype(str).map(dictionary)

In [11]:
survey.CountryIncomeLevel2021.value_counts()

CountryIncomeLevel2021
High income            41673
Lower-middle income    38115
Upper-middle income    37122
Low income              8001
Not classified          1000
Name: count, dtype: int64

### loading in disaster data set

In [ ]:
disasters = pd.read_csv('../data/disasters.csv')

In [ ]:
disasters.head()

In [ ]:
disasters.info()