In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [8]:
survey = pd.read_csv('../data/lrf_wrp_2021_full_data.csv')

C:\Users\emily\AppData\Local\Temp\ipykernel_75808\3993643284.py:1: DtypeWarning: Columns (7,8,9,10,16,17,20,21,22,28,31,32,33,34,35,36,37,38,41,43,46,47,48,49,50,51,52,53,54,56,57,58,59,60,66,67,68,69,70,71,72,73,74,75,76,77,78,81,84,101,224,226,227,228,229,230) have mixed types. Specify dtype option on import or set low_memory=False.
  survey = pd.read_csv('../data/lrf_wrp_2021_full_data.csv')

In [9]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280106 entries, 0 to 280105
Columns: 231 entries, WPID_RANDOM to Q5F_2019
dtypes: float64(1), int64(18), object(212)
memory usage: 493.7+ MB

In [10]:
survey.head()

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,REGION_ZAF,REGION2_ZMB,REGION_ZWE,Q2_1_2019A,Q2_1_2019B,Q5A_2019,Q5B_2019,Q5C_2019,Q5D_2019,Q5F_2019
0,174262180,1,United States,2.132627,2021,6,1,4,,562058.6277,...,,,,,,,,,,
1,115327451,1,United States,0.620385,2021,6,1,4,,163503.9201,...,,,,,,,,,,
2,189972125,1,United States,0.610080,2021,6,1,4,,160787.9589,...,,,,,,,,,,
3,173358289,1,United States,0.490774,2021,6,1,4,,129344.4561,...,,,,,,,,,,
4,183251831,1,United States,1.910021,2021,6,1,4,,503390.2659,...,,,,,,,,,,

### too many columns, need to drop unnecessary ones