In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [30]:
survey = pd.read_csv('../data/clean_survey_data.csv')

C:\Users\emily\AppData\Local\Temp\ipykernel_75808\1905035074.py:1: DtypeWarning: Columns (7,8,9,10,16,17,20,21,22,26,27,28,29,32,33,34,35,36,37,38,39,40,42,43,44,45,46,52,53,54,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  survey = pd.read_csv('../data/clean_survey_data.csv')

In [31]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280106 entries, 0 to 280105
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   WPID_RANDOM             280106 non-null  int64
 1   WP5                     280106 non-null  int64
 2   Country                 280106 non-null  object
 3   WGT                     280106 non-null  float64
 4   Year                    280106 non-null  int64
 5   GlobalRegion            280106 non-null  int64
 6   country.in.both.waves   280106 non-null  int64
 7   CountryIncomeLevel2021  280106 non-null  object
 8   CountryIncomeLevel2019  280106 non-null  object
 9   PROJWT_2021             280106 non-null  object
 10  PROJWT_2019             280106 non-null  object
 11  Age                     280106 non-null  int64
 12  AgeGroups4              280106 non-null  object
 13  Gender                  280106 non-null  int64
 14  Education               280106 non-null  int64
 15  IncomeFeelings          280106 non-null  int64
 16  INCOME_5                280106 non-null  object
 17  EMP_2010                280106 non-null  object
 18  Urbanicity              280106 non-null  int64
 19  HouseholdSize           280106 non-null  int64
 20  ChildrenInHousehold     280106 non-null  object
 21  Q1                      280106 non-null  object
 22  Q2_1                    280106 non-null  object
 23  Q3                      280106 non-null  int64
 24  Q4D                     280106 non-null  int64
 25  Q4F                     280106 non-null  int64
 26  Q5D                     280106 non-null  object
 27  Q5F                     280106 non-null  object
 28  Q6                      280106 non-null  object
 29  Q10                     280106 non-null  object
 30  Q11_1                   280106 non-null  object
 31  Q11_2                   280106 non-null  object
 32  Q10Q11Recode            280106 non-null  object
 33  Q13                     280106 non-null  object
 34  Q14A                    280106 non-null  object
 35  Q14B                    280106 non-null  object
 36  Q14C                    280106 non-null  object
 37  Q14D                    280106 non-null  object
 38  Q14E                    280106 non-null  object
 39  Q14F                    280106 non-null  object
 40  Q14G                    280106 non-null  object
 41  Q15                     280106 non-null  object
 42  Q16A                    280106 non-null  object
 43  Q16B                    280106 non-null  object
 44  Q16C                    280106 non-null  object
 45  Q16D                    280106 non-null  object
 46  Q17                     280106 non-null  object
 47  Q18_1                   280106 non-null  object
 48  Q19A                    280106 non-null  object
 49  Q19B                    280106 non-null  object
 50  Q19C                    280106 non-null  object
 51  Q19D                    280106 non-null  object
 52  Q20                     280106 non-null  object
 53  Q21                     280106 non-null  object
 54  Q22A                    280106 non-null  object
 55  Q22B                    280106 non-null  object
 56  Q22C                    280106 non-null  object
 57  Q22D                    280106 non-null  object
 58  Q22E                    280106 non-null  object
 59  resilience_index        280106 non-null  object
 60  Worried.Index           280106 non-null  object
 61  Experienced.Index       280106 non-null  object
 62  worry_exp_gap           280106 non-null  object
dtypes: float64(1), int64(14), object(48)
memory usage: 134.6+ MB

In [34]:
survey = survey[survey['Year']==2021]

In [37]:
survey.head()

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,Q21,Q22A,Q22B,Q22C,Q22D,Q22E,resilience_index,Worried.Index,Experienced.Index,worry_exp_gap
0,174262180,1,United States,2.132627,2021,6,1,4,,562058.6277,...,1,2,2,2,2,2,0.604166667,0.591526773,-0.004188948,0.595715721
1,115327451,1,United States,0.620385,2021,6,1,4,,163503.9201,...,1,2,2,2,2,2,0.8125,0.302011196,-0.004188948,0.306200143
2,189972125,1,United States,0.610080,2021,6,1,4,,160787.9589,...,1,2,2,2,2,2,0.645833333,0.409201775,-0.004188948,0.413390723
3,173358289,1,United States,0.490774,2021,6,1,4,,129344.4561,...,2,2,2,2,2,2,0.604166667,0.114227334,0.313785914,-0.19955858
4,183251831,1,United States,1.910021,2021,6,1,4,,503390.2659,...,1,2,2,2,2,2,0.895833333,0.228660806,0.441144416,-0.21248361

In [43]:
#maybe change 'test' to Nan? read methodology report
dictionary = {'1': 'Low income', '2':'Lower-middle income', '3': 'Upper-middle income', '4': 'High income', '9': 'Not classified'}
survey['CountryIncomeLevel2021'].astype(str).map(dictionary).value_counts()

CountryIncomeLevel2021
High income            41673
Lower-middle income    38115
Upper-middle income    37122
Low income              8001
Not classified          1000
Name: count, dtype: int64

In [44]:
print(dictionary)

{'1': 'Low income', '2': 'Lower-middle income', '3': 'Upper-middle income', '4': 'High income', '9': 'Not classified'}

In [45]:
survey.replace({'CountryIncomeLevel2021': dictionary})

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,Q21,Q22A,Q22B,Q22C,Q22D,Q22E,resilience_index,Worried.Index,Experienced.Index,worry_exp_gap
0,174262180,1,United States,2.132627,2021,6,1,4,,562058.6277,...,1,2,2,2,2,2,0.604166667,0.591526773,-0.004188948,0.595715721
1,115327451,1,United States,0.620385,2021,6,1,4,,163503.9201,...,1,2,2,2,2,2,0.8125,0.302011196,-0.004188948,0.306200143
2,189972125,1,United States,0.610080,2021,6,1,4,,160787.9589,...,1,2,2,2,2,2,0.645833333,0.409201775,-0.004188948,0.413390723
3,173358289,1,United States,0.490774,2021,6,1,4,,129344.4561,...,2,2,2,2,2,2,0.604166667,0.114227334,0.313785914,-0.19955858
4,183251831,1,United States,1.910021,2021,6,1,4,,503390.2659,...,1,2,2,2,2,2,0.895833333,0.228660806,0.441144416,-0.21248361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125906,165653430,198,Kosovo,2.362102,2021,12,1,Upper-middle income,,2957.937501,...,2,1,2,2,2,2,0.6875,0.544044282,0.313785914,0.230258368
125907,113963481,198,Kosovo,1.405742,2021,12,1,Upper-middle income,,1760.338126,...,1,2,2,2,2,2,0.666666667,,-0.004188948,
125908,205672323,198,Kosovo,0.212869,2021,12,1,Upper-middle income,,266.5651115,...,2,2,2,2,2,2,0.625,0.409201775,-0.004188948,0.413390723
125909,113000228,198,Kosovo,0.732373,2021,12,1,Upper-middle income,,917.112311,...,2,2,2,2,2,2,0.208333333,0.454954408,-0.004188948,0.459143356
125910,129864144,198,Kosovo,0.819574,2021,12,1,Upper-middle income,,1026.309922,...,2,1,1,2,2,1,0.4375,0.409201775,0.141893127,0.267308648

In [47]:
#noooo this is wrong
survey.CountryIncomeLevel2021.value_counts()

CountryIncomeLevel2021
4    36452
3    35120
2    35115
1     7001
4     5221
2     3000
3     2002
9     1000
1     1000
Name: count, dtype: int64

In [48]:
#dibran said - do this for all columns
#do this before the replace???
survey.CountryIncomeLevel2021.astype(str).value_counts()

CountryIncomeLevel2021
4    41673
2    38115
3    37122
1     8001
9     1000
Name: count, dtype: int64

In [40]:
#replace these values with Nan - ignore - from old dataset
survey[survey['CountryIncomeLevel2021']==' ']

Empty DataFrame
Columns: [WPID_RANDOM, WP5, Country, WGT, Year, GlobalRegion, country.in.both.waves, CountryIncomeLevel2021, CountryIncomeLevel2019, PROJWT_2021, PROJWT_2019, Age, AgeGroups4, Gender, Education, IncomeFeelings, INCOME_5, EMP_2010, Urbanicity, HouseholdSize, ChildrenInHousehold, Q1, Q2_1, Q3, Q4D, Q4F, Q5D, Q5F, Q6, Q10, Q11_1, Q11_2, Q10Q11Recode, Q13, Q14A, Q14B, Q14C, Q14D, Q14E, Q14F, Q14G, Q15, Q16A, Q16B, Q16C, Q16D, Q17, Q18_1, Q19A, Q19B, Q19C, Q19D, Q20, Q21, Q22A, Q22B, Q22C, Q22D, Q22E, resilience_index, Worried.Index, Experienced.Index, worry_exp_gap]
Index: []

[0 rows x 63 columns]

### loading in disaster data set

In [11]:
disasters = pd.read_csv('../data/disasters.csv')

In [12]:
disasters.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1900-0003-USA,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,30000.0,1098720.0,2.730451,NaN,2004-10-18,2023-10-17
1,1900-0005-USA,Yes,tec-ind-fir-fir,Technological,Industrial accident,Fire (Industrial),Fire (Industrial),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
2,1900-0006-JAM,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
3,1900-0007-JAM,Yes,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease,NaN,Gastroenteritis,JAM,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25
4,1900-0008-JPN,Yes,nat-geo-vol-ash,Natural,Geophysical,Volcanic activity,Ash fall,NaN,NaN,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.730451,NaN,2003-07-01,2023-09-25

In [13]:
disasters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26559 entries, 0 to 26558
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     26559 non-null  object
 1   Historic                                   26559 non-null  object
 2   Classification Key                         26559 non-null  object
 3   Disaster Group                             26559 non-null  object
 4   Disaster Subgroup                          26559 non-null  object
 5   Disaster Type                              26559 non-null  object
 6   Disaster Subtype                           26559 non-null  object
 7   External IDs                               2405 non-null   object
 8   Event Name                                 8326 non-null   object
 9   ISO                                        26559 non-null  object
 10  Country                                    26559 non-null  object
 11  Subregion                                  26559 non-null  object
 12  Region                                     26559 non-null  object
 13  Location                                   24118 non-null  object
 14  Origin                                     4442 non-null   object
 15  Associated Types                           3883 non-null   object
 16  OFDA/BHA Response                          26559 non-null  object
 17  Appeal                                     26559 non-null  object
 18  Declaration                                26559 non-null  object
 19  AID Contribution ('000 US$)                788 non-null    float64
 20  Magnitude                                  5201 non-null   float64
 21  Magnitude Scale                            16637 non-null  object
 22  Latitude                                   2794 non-null   float64
 23  Longitude                                  2794 non-null   float64
 24  River Basin                                1391 non-null   object
 25  Start Year                                 26559 non-null  int64
 26  Start Month                                26054 non-null  float64
 27  Start Day                                  22562 non-null  float64
 28  End Year                                   26559 non-null  int64
 29  End Month                                  25747 non-null  float64
 30  End Day                                    22653 non-null  float64
 31  Total Deaths                               21069 non-null  float64
 32  No. Injured                                8624 non-null   float64
 33  No. Affected                               10897 non-null  float64
 34  No. Homeless                               2668 non-null   float64
 35  Total Affected                             17666 non-null  float64
 36  Reconstruction Costs ('000 US$)            42 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  42 non-null     float64
 38  Insured Damage ('000 US$)                  1126 non-null   float64
 39  Insured Damage, Adjusted ('000 US$)        1125 non-null   float64
 40  Total Damage ('000 US$)                    5733 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          5718 non-null   float64
 42  CPI                                        26396 non-null  float64
 43  Admin Units                                8511 non-null   object
 44  Entry Date                                 26559 non-null  object
 45  Last Update                                26559 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 9.3+ MB